*{
    margin: 0;
    padding: 0;
}
.header{
    background-color: #ebebeb;
    height: 50px;
}
.header_logo1{
    padding: 10px;
}
@media (max-width:576px) {
    .header_1_none{
        display: none;
    }
} 
@media (max-width:768px) {
    .header_search_1{
        display: none;
    }
    
}
@media (min-width:769px) {
    .header_search_2{
        display: none;
    }    
}

.nav_img{
    width: 50px;
}
.dropdown{
    position: relative;
    display: inline-block;
}
.dropbtn{
    border: none;
    background-color: white;
    color: #002d71;
    padding: 15px 20px;
    font-size: 14px;
    font-weight: bold;
}

.dropdown-content{
    display: none;
    position: absolute;
    min-width: 1200px;
    background-color: #fff;
    z-index: 99;
    transform: 10s;
    padding-top: 50px;
    margin: 0px 0px 0px -500px;
}
@media (max-width:1245px) {
    .dropdown-content{
        min-width: 900px;
        margin: 0px 0px 0px -385px;
    }
}
.dropdown-content_bussiness{
    margin: 0px 0px 0px -610px;
}
@media (max-width:1245px) {
    .dropdown-content_bussiness{
        min-width: 900px;
        margin: 0px 0px 0px -500px;
    }
}
.dropdown-content_brands{
    margin: 0px 0px 0px -714px;
}
@media (max-width:1245px) {
    .dropdown-content_brands{
        min-width: 900px;
        margin: 0px 0px 0px -607px;
    }
}
.dropdown:hover .dropdown-content {
    display: block;
    color: rgb(63, 63, 217);
}
.menu_hover:hover{
    color: #00d5ff;
}
.menu{
    list-style: none;
}
.menu li{
  display: block;
}
.menu li a{
  text-decoration: none;
  color: #222;
}
